<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <nlog>
    <targets>
      <target name="t1" type="File" fileName="c:\temp\servicelog.txt"/>
      <target name="t2" type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="t1,t2" />
    </rules>
  </nlog>

  <connectionStrings>
    <add name="SourceDB" 
          connectionString="Data Source = localhost\SQL2012ST; Initial Catalog = Source;MultipleActiveResultSets=True; Persist Security Info = True; User ID = Admin; Password = admin" />
    <add name="DestionationDB" 
          connectionString="Data Source = localhost\SQL2012ST; Initial Catalog = ReportDB; MultipleActiveResultSets=True; Persist Security Info = True; User ID = Admin; Password = admin" />
  </connectionStrings>

</configuration>